.logo-button {
  font-size: 5vw;
  color: #da5f5f;
  font-weight: 700;
  width:max-content;
  padding: 10px;
}

.login-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: lightgray;
  width: 60%;
  height: 30px;
  border-radius: 5px;
}

.kakao-login-button {
  background-color: yellow;
  width: 60%;
  height: 30px;
  border-radius: 5px;
}