.logo-button {
  font-size: 5vw;
  color: #da5f5f;
  font-weight: 700;
  width:max-content;
  padding: 50px;
}

.login-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//text-[5vw] text-red-600 font-bold w-max p-[50px]