.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw; 
}

.login-text {
  font-size: 24px;
  font-weight: 600;
  margin: 8px;
}