@use "../style/Mixins.scss" as mixins;

.login-wrapper {
  @include mixins.flex(column, center, center);
  gap: 100px;
}

.login-container {
  @include mixins.flex(column, center, center);
  width: 35vw; 
}

.login-text {
  font-size: 24px;
  font-weight: 600;
  margin: 8px;
}