@mixin flex($direction: row, $align: row, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin size($w: auto, $h: auto) {
  width: $w;
  height: $h;
}

.login-wrap {
  @include flex(row, center, center);
  position: relative;
  top: 50px;
  
  .login-container {
    @include flex(row, center, center);
    @include size(500px, 600px);
    background-color: rgba(114, 114, 114, 0.8);
    border-radius: 10px;

    .login-inner-container{
        width: 400px;

        h1{
          font-size: 40px;
          font-weight: 700;
        }

        .login-btn{
          @include size(400px, 35px);
          // text-align: center;
          margin-top: 10px;
          background-color: red;
          border-radius: 5px;
          padding-top: 5px;
          cursor: pointer;
        }

        a{
          margin: 10px 0;
        }

        .easy-login-container{
          @include flex(column, center, center);

        }

        .kakao-button{
          @include size(300px, 40px);
          margin-top: 10px;
          background-color: #f0d801;
          border-radius: 5px;
          cursor: pointer;
        }

        .google-button {
          @include size(300px, 40px);
          margin-top: 10px;
          background-color: white;
          color: black;
          border-radius: 5px;
          cursor: pointer;
        }
    }

    .input-container {
      @include flex(column);
      width: 400px;

      input{
        margin-top: 10px;
        padding: 0 8px;
        height: 50px;
        border-radius: 5px;
      }
    }
  }
}

.input-label-container{
  @include flex(column);
  margin: 5px 0;
  font-size: 16px;
  input{
    color: black;
  }
}

.join-wrap {
  @include flex(row, center, center);
  position: relative;
  top: 50px;
  
  .join-container {
    @include flex(row, center, center);
    @include size(500px, 700px);
    background-color: rgba(114, 114, 114, 0.8);
    border-radius: 10px;

    .join-inner-container{
      @include flex(column, start);
        width: 400px;

        h1{
          font-size: 40px;
          font-weight: 700;
        }

        .login-btn{
          @include size(400px, 35px);
          text-align: center;
          margin-top: 10px;
          background-color: red;
          border-radius: 5px;
          padding-top: 5px;
        }

        a{
          margin: 10px 0;
        }
    }

    .input-container {
      @include flex(column);
      width: 400px;

      input{
        margin-top: 10px;
        padding: 0 8px;
        height: 50px;
        border-radius: 5px;
      }
    }
  }
}