@use "./Mixins.scss" as mixins;

* {
  margin: 0;
  border: 0;
  box-sizing: border-box
}

.swiper-slide {
  transition: transform 0.3s, opacity 0.3s ease-in-out;
  opacity: 0.7;
  transform: scale(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1); 
}

.swiper-slide-next {
  opacity: 0.6; 
  transform: scale(0.9);
}

.swiper-slide-prev {
  opacity: 0.6;
  transform: scale(0.9);
}

.swiper-slide img {
  border-radius: 10px;
  object-fit: cover;
}


.swiper-container {
  @include mixins.flex(row, center, center);
  height: 450px;
  border-bottom: 3px solid black;
  width: 90%;

  img {
    width: 250px;
    height: 350px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 2);
  }

  .swiper-wrapper{
    height: 400px;
  }

}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  z-index: 100;
}