@mixin flex($direction: row, $align: row, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin linkStyle() {
  text-decoration: none;
  color: black;
}

@mixin navBarMedia() {
  @media screen and (max-width: 850px) {
    @content;
  }
}

@mixin navBarMediaLarge() {
  @media screen and (min-width: 851px) {
    @content;
  }
}

body {
  background-color: #121212;  // 다크 모드의 기본 배경색
  color: white;  // 텍스트 색상
}

body.light-mode {
  background-color: white;  // 라이트 모드의 기본 배경색
  color: black;  // 텍스트 색상
}

.navBar {
  @include flex(row, center, space-between);

  @include navBarMedia() {
    height: 50px;
  }

  padding: 0 30px;
  border-bottom: 2px solid red;
  background-color: black;
  height: 70px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10000;


  .logo-and-menu-container {
    @include flex(row, center, center);

    .menu-triger {
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      height: auto;

      .menu-text-and-img {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 10px;
        height: 50px;
        color: white;

        @include navBarMedia() {}

        @include navBarMediaLarge() {
          display: none;
        }
      }
    }

    ul.left-side {
      @include flex(row, center, center);
      width: max-content;
      height: auto;

      @include navBarMedia() {
        display: none;
      }

      &.active {
        display: flex;
        position: absolute;
        top: 50px;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        background-color: rgba(114, 114, 114, 0.908);

        li {
          font-size: 16px;
          color: white;
          font-weight: 500;
        }

      }


      li {
        padding: 1.5vw;
        font-size: clamp(10px, 1vw, 16px) // 최소 10px 뷰포트 너비 1%에 따라 조정, 최대 16px
          // font-size: 1vw;
      }

    }
  }

  .right-side {
    @include flex(row, center, center);

    li {
      padding: 8px;
      width: auto;
    }

    .search-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      img{
        width: 30px;
      }

      input {
        height: 20px;
        display: none;
      }

      &.search-btn-active {
        input {
          display: flex;
          color: black;
          padding: 5px;
        }
      }
    }

  }

}